header {
    background-color: #131921;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.4rem 3rem;
    min-height: 4rem;
}

main {
    background-color: #12181F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer {
    text-align: center;
    background-color: #12181F;
    color: #fff;
    font-weight: 600;
    min-height: 7rem;
    font-size: 1.1rem;
}